body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.toggle-btn { 
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
#toggleLayer1 {
    top: 10px;
    right: 10px;
}

#toggleLayer2 {
    top: 40px;
    right: 10px;
}
.slider {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: #d3d3d3;
    outline: none;
    -webkit-appearance: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#layerText {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity as needed */
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}